<Settings>
    <Ports>22,80,443,445,3389</Ports>
    <Timeout>0.5</Timeout>
    <ExternalIPURL>https://api.ipify.org</ExternalIPURL>
    <OutputFormat>XML</OutputFormat>
    <OllamaHost>localhost</OllamaHost>
    <OllamaModel>llama3.2</OllamaModel>

    <SMB>
        <Server>SERVER</Server>
        <Share>Share</Share>
        <Username>USERNAME</Username>
    </SMB>

    <ValidExternalRanges>
        <Range>RANGE/28</Range>
        <Range>RANGE/28</Range>
    </ValidExternalRanges>

    <OpenAI>
        <APIKey>APIKey</APIKey>
        <Model>gpt-4</Model>
    </OpenAI>

    <DefaultAIProvider>ollama</DefaultAIProvider>
</Settings>
