<Settings>
    <Ports>22,80,443,445,3389</Ports>
    <Timeout>0.5</Timeout>
    <ExternalIPURL>https://api.ipify.org</ExternalIPURL>
    <OutputFormat>XML</OutputFormat>

    <SMB>
        <Server>192.168.8.239</Server>
        <Share>Media</Share>
        <Username>""</Username>
    </SMB>

    <ValidExternalRanges>
        <Range>82.147.10.192/28</Range>
        <Range>82.147.10.208/28</Range>
    </ValidExternalRanges>


</Settings>
